body{
    background-color: rgba(13, 27, 29, 0.836);
}

.image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
h1{
  color: rgb(38, 85, 238);
  font-weight: bold;
  
  
} 


#main {
    width: 100%;
    height: 320px;
    /* border: 1px solid black; */
    display: flex;
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  #main>div {
    flex: 1;
    font-size: 30px;
    font-weight: bold;
  }
  #main>div>h1 {
    color: red;
  }
  #main>div>h1>span {
    color: rgb(47, 0, 255);
  }

  /* specilization */
  
  .main-start{
    /* margin: 80px; */
    text-align: center;
    width: 60%;
    margin: auto;
    border: 1px solid rgb(228, 201, 201);
    border-radius: 10%;
  }
  #main-2>div>h2{
    color: rgb(255, 136, 0);
    
  }

  .list{
    color: wheat;
  
  }

  #EXPERIENCE{
    color: rgb(255, 136, 0);
    
  }
 
  .para{
    color: wheat;
  }
  /* education */
  #edu{
    color: rgb(255, 136, 0);
  }
  
  #edu>ul{
    color: wheat;
  }

  #interest{
    color: rgb(255, 136, 0);
  }
  #interest>ul{
    color: wheat;
  }


  #contact{
    color: rgb(96, 214, 169);
    /* border: 1px solid red; */
    border-radius: 25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(165, 42, 42, 0.719);
  }
  
  #contact>ul{
    color: wheat;
  }
  
  @media all and (min-width:335px;) and (max-width:520px;){

    .email{
      line-break: auto;
    }
  }

  /* @media only screen and (max-width: 600px) */